/* general styles */

body {
    margin: 0;
    background-color: wheat;
}

h1, h2, h3 {
    font-family: "Arial Black";
    /* color: plum; */
}

p, a {
    font-family: Arial; 
}

/* header */

header {
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    height: 100px;
    min-width: 550px;
}

header img {
    height: 80px;
    margin: 10px;
}

header h1 {
    font-size: 40px;
    margin: 0;
    margin-top: 20px;
}

/* nav styles */

nav {
    padding: 0px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

.nav-ul li {
    display: inline-block;
    margin: 5px;
    font-size: 20px;
}

/* options styles */

.options-container {
    background-color: lightseagreen;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 15px 0; 
} 

.option {
    padding: 3px;
}

button.option {
    width: 80px;
    font-size: 15px;
    font-weight: bold;
}

select.option {
    width: 150px;
    margin-left: 15px;
}

/* series list item styles */

.series-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}

.series-list li {
    background-color: #aaa;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    max-width: 500px;
    max-height: 500px;
    /* border: 5px solid green; */
}

.flex-container {
    display: flex;
    justify-content: space-evenly; 
    padding: 15px;
    background-color: aliceblue;
    border: 5px solid pink;
}

.image-container {
    /* background-color: blueviolet; */
    margin: 5px;
    min-width: 200px;
    min-height: 250px;
    display: flex; 
    justify-content: center;
}

.image-container img {
    object-fit: contain;
    max-width: 200px;
}

.text-container {
    /* background-color: greenyellow; */
    padding: 5px;
    text-align: center;
    margin: 5px;
    min-width: 250px;
    /* border: 5px solid pink; */
}

.text-container p {
    font-size: 20px;
    margin: 5px;
}

.text-container h2 {
    margin: 5px;
}

.text-container h3 {
    margin: 10px;
}

/* footer styles */

footer {
    background-color: #aaa;
    display: flex;
    justify-content: center;
    padding: 5px;
}

/* placeholder content for main */

.intro {
    background-color: goldenrod;
    height: 475px;
    margin: 30px;
}